.createCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #447F4D;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
}

.input {
    border-radius: 10px;
    border:none;
    padding: 5px;
}