.missionCard {
    height: 100px;
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Pending {
    background-color: #910000;
}

#inProgress {
    background-color: #BE7D00;
}

#complated {
    background-color: #009114;
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#deleteButton {
    background-color: red;
    height: 50%;
    color: white;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#deleteButton:hover {
    background-color: darkred;
    transition: background-color 0.3s ease;
}

#editButton {
    background-color: blue;
    height: 50%;
    color: white;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#editButton:hover {
    background-color: darkblue;
    transition: background-color 0.3s ease;
}